<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.8.1/css/tachyons.min.css">

    <title>Document</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <article class="pa4 pl5-ns fl system-sans-serif" id="app">
        <section>
            <div class="f3 mw9 bt bw1 pb2 pt1 fl w-70 lh-title "><a href="index.html" class="link dim black">Rohit
                    Gupta</a></div>
            <div class="f6-ns f6  mw9 bt bw1 pb4 pt1 fl w-10-ns w-20 tl lh-title"> <a href="about.html" class="link dim black">

                    <span class="fw1-ns">01</span> About </a></div>
            <div class="f6-ns f6 mw9 bt bw1 pb4 pt1 fl w-10-ns w-20 tl lh-title"><a href="index.html" class="link dim black"><span
                        class="fw1-ns">02</span> Works </a></div>
            <div class="f6-ns f6 mw9 bt bw1 pb4 pt1 fl w-10-ns w-10 tl lh-title"><a href="mailto:indiantinker@gmail.com?Subject=Hello%20Rohit"
                    class="link dim black"><span class="fw1-ns">03</span>
                    Contact </a></div>

        </section>
        <div class="mw9 fl w-100">
            <h1 class="lh-title f-subheadline-ns f2 pt4">
                Other Projects

            </h1>
        </div>




        <div class="mw9 fl w-100 mb3">
            <h1 class="f2 lh-title">Design</h1>
            <div class="fl w-third pr4 gray f6 lh-copy pv3" v-for="project in design">
                <a :href="project.postURL" class="link dim black">
                    <div class="aspect-ratio aspect-ratio--4x3 mb2">
                        <div class="aspect-ratio--object cover" :style="{ backgroundImage: 'url(' + project.imgURL + ')'}"></div>


                    </div>
                    {{project.title}}
                </a>
            </div>

        </div>
        <div class="mw9 fl w-100 mb3">
            <h1 class="f2 lh-title">Creative Technology and Installations</h1>
            <div class="fl w-third pr4 gray f6 lh-copy pv3" v-for="project in creative">
                <a :href="project.postURL" class="link dim black">
                    <div class="aspect-ratio aspect-ratio--4x3 mb2">
                        <div class="aspect-ratio--object cover" :style="{ backgroundImage: 'url(' + project.imgURL + ')'}"></div>


                    </div>
                    {{project.title}}
                </a>
            </div>

        </div>
        <div class="mw9 fl w-100 mb3">
            <h1 class="f2 lh-title">Physical Computing</h1>
            <div class="fl w-third pr4 gray f6 lh-copy pv3" v-for="project in physical">
                <a :href="project.postURL" class="link dim black">
                    <div class="aspect-ratio aspect-ratio--4x3 mb2">
                        <div class="aspect-ratio--object cover" :style="{ backgroundImage: 'url(' + project.imgURL + ')'}"></div>


                    </div>
                    {{project.title}}
                </a>
            </div>

        </div>




        <section class="f4 fl w-100 pt4">
            <div class="mt5 bt bw1 lh-title pt2 fw2 tracked tr">
                <a href="http://rohitg.in/otherProjects/" class="link dim black"> EVEN MORE
                    PROJECTS ?
                    ❤️</a>
            </div>
        </section>
        <section class="f4 fl w-100 pt2 ">
            <div class="lh-title fw2 tracked tr"> <a href="index.html" class="link dim black"> NOTABLE WORKS</a> </div>
        </section>
        <section class="f4 fl w-100 pv2 ">
            <div class="lh-title fw2 tracked tr"> <a href="about.html" class="link dim black">ABOUT</a> </div>
        </section>



        <div class=" f6 pb5 bt bw1 pt2 fl w-100"> Made by Rohit using Tachyons, Vuejs, Figma, and <span class="i">some
                "pipas
                con
                cafe"</span>
        </div>





    </article>

</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            design: [{
                    title: "missingMenu- Understanding food menus as a language",
                    imgURL: "https://i.imgur.com/rzDWfcC.png",
                    postURL: "http://rohitg.in/2019/03/01/missingMenu/"
                },
                {
                    title: "Spatial visualization of Indian Railways network",
                    imgURL: "https://i.imgur.com/5nMTnGP.png",
                    postURL: "http://rohitg.in/2017/09/10/DataViz/"
                }, {
                    title: "Local - Gamification in participatory GIS",
                    imgURL: "https://i.imgur.com/5Dhk5Kf.png",
                    postURL: "http://rohitg.in/2017/06/03/local/"
                },
                {
                    title: "Design Fictions : Beauty as a service",
                    imgURL: "https://i.imgur.com/667g4d4.png",
                    postURL: "http://rohitg.in/2017/04/03/designfiction/"
                },
                {
                    title: "Understanding Bamboo Handicrafts through participatory research",
                    imgURL: "https://c1.staticflickr.com/4/3856/33680243686_71f538de17.jpg",
                    postURL: "http://rohitg.in/2017/04/01/bamboo/"
                },
                {
                    title: "Improving urban lived experience through chatbots ",
                    imgURL: "https://i.imgur.com/4frDcLE.png",
                    postURL: "http://rohitg.in/2017/04/03/CityBot/"
                }
            ],
            creative: [{
                    title: "Points of View",
                    imgURL: "https://farm1.staticflickr.com/840/29592750548_0d7a04270d_z.jpg",
                    postURL: "http://rohitg.in/2018/05/02/PointsOfView/"
                },
                {
                    title: "Day and Night",
                    imgURL: "https://i.imgur.com/iOqCe3C.png",
                    postURL: "http://rohitg.in/2018/05/01/DayNight/"
                },
                {
                    title: "Who you are is what you get",
                    imgURL: "https://i.imgur.com/N5ErrCV.jpg",
                    postURL: "http://rohitg.in/2017/09/03/whowe/"
                },
                {
                    title: "Men and Three Worlds",
                    imgURL: "https://c1.staticflickr.com/1/436/32850126965_681d9b81e9.jpg",
                    postURL: "http://rohitg.in/2017/02/12/InstallationReality/"
                }
            ],
            physical: [{
                    title: "The Electronic Inaugural Lamp",
                    imgURL: "https://i.imgur.com/ENqtctj.jpg",
                    postURL: "http://rohitg.in/2013/04/29/InnaugLamp/"
                },
                {
                    title: "UberCubeX4- The portable LED Cube !",
                    imgURL: "https://farm8.staticflickr.com/7589/16844603938_5c70fa2ca8_z.jpg",
                    postURL: "http://rohitg.in/2014/07/22/UberCube/"
                },
                {
                    title: "Hearty!",
                    imgURL: "https://farm6.staticflickr.com/5718/21827990404_cdee949005_k.jpg",
                    postURL: "http://rohitg.in/2015/11/14/hearty/"
                },
                {
                    title: "Sketchy- Table Top Pen Artist",
                    imgURL: "https://farm9.staticflickr.com/8838/17331112105_f250af88b8_z.jpg",
                    postURL: "http://rohitg.in/2015/10/14/CNCsnMe2/"
                },
                {
                    title: "CricPi- The Minimalistic Live Cricket interface",
                    imgURL: "https://farm4.staticflickr.com/3816/19440950239_a30060af0c_z.jpg",
                    postURL: "http://rohitg.in/2015/07/12/CrickPi/"
                }

            ]
        }
    })
</script>

</html>